@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.head-content{
    width: 100%;
    height: 15vh;
    background-color: #363531;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 1260px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-content{
     width: 100%;
     height: 55vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.title{
    width: 1260px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-logo{
    width: 84px;
    height: 87px;
}
.button{
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: 500ms;
}
.button a{
    color: #363531;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.button:hover{
    background-color: #363531;
    border: 1px solid white;
    transition: 500ms;
}
.button a:hover{
    color: white;
}
.right-block img{
    width: 389px;
    height: 331px;
}
.left-block{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.left-block h1{
    font-size: 65px;
    color: black;
}
.left-block h2{
    font-size: 20px;
    color: black;
}
.right-block{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    width: 1260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p{
    padding-top: 10px;
    font-size: 17px;
}
.advantages-content{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.advantages h2{
    color: white;
    font-size: 30px;
}
.advantages{
    width: 1260px;
    height: 100%;
    background-color: black;
}
.adv-title-line{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adv-blocks{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adv-block{
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    transition: 500ms;
}
.adv-block p{
    font-size: 13px;
}
.adv-image{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adv-image img{
    width: 100px;
    height: 100px;
}
.adv-name{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adv-name1{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}
.adv-block:hover{
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: rgba(255, 255, 255, 0.24) 2px 2px 12px 12px;
}
.contact-content{
    width: 100%;
    height: 30vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-title-line{
    color: black;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts{
    width: 1260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tech-task-content{
    width: 100%;
    height: 2000px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-task{
    width: 1260px;
    height: 100%;
}
table{
    width: 100%;
    padding: 15px;
}
footer{
    width: 100%;
    height: 150px;
    background-color: #363531;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 95px;
    height: 100px;
}
.table1{
    background-color: #e8e8e8;
    width: 100%;
}
.div-write-in{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.input1{
    width: 250px;
    position: relative;
    left: 40px;
}
.input2{
    width: 250px;
    position: relative;
    left: 6px;
}
form button{
    position: relative;
    top: 10px;
    background-color: white;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 500ms;
}
form button:hover{
    background-color: #000000;
    color: white;
    transition: 500ms;
}
.div-write-notes textarea {
    width: 300px;      /* Задайте ширину */
    height: 100px;     /* Задайте высоту */
    resize: none;      /* Запрещает изменение размера */
    padding: 8px;      /* Внутренний отступ */
    font-size: 14px;   /* Размер шрифта */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 4px; /* Скругленные углы */
}
.div-write-notes{
    width: 100%;
    height: 150px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
}
.div-write-notes textarea{
    position: relative;
    left: 10px;
}
.catalog-img{
    width: 300px;
    height: 250px;
    background-color: #363531;
}
.divForCatalogImages{
    width: 100%;
    height: 250px;
    background-color: #e8e8e8;
}